/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Barlow", sans-serif;
    background-color: #000;
    color: #fff;
}
button{
    padding: 0;
    border: none;
    background: none;
}
h4.title {
    color: white;
    margin-bottom: 0;
    transition: 0.2s;
}
h4.title:hover {
    color: #A47442;
}
a {
    text-decoration: none;
}

.header {
    position: relative;
    /* width: 1600px; */
    height: 820px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./src/pexels-kelly-l-2881370-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.3);
    z-index: -1;
}

/* .header{
    background-image: url(./src/pexels-kelly-l-2881370-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        width: 1600px;
        height: 800px;
        filter: brightness(0.6);
} */

.header_txts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    align-items: center;
    padding-top: 250px;
    margin-top: -54 px;
}
.header_txts p{
    padding-top: 117px;
    color: #fff;
    font-size: 24px;
    margin-top: -70px;
    margin-bottom: 20px;
    padding-bottom: 11  px;

}
.header_txts h1{
/* EnterOlymp */
    padding-top: 39px;
    font-weight: 700;
    
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;


}
.header_h1{
    font-size: 96px;
}
.header_btn{
    margin-top: -90px;
}
.header_h1{
    margin-top: -30px;
}
.header_txts a{
    /* Rectangle 1 */
    position: absolute; 
    width: 278px;
    height: 60px;
    padding-left: 40px;
    top: 567.1px;
    background: #A47442;

    border-radius: 15px;

}
.header_btn{
    position: relative;
    text-align: center;
    padding: 15px 39px;
    gap: 4px;
    width: 392px;
    height: 56px;
    font-family: 'Barlow';
    
    font-size: 15px;
    /* font-weight: 600; */
    color: #fff;
    line-height: 29px;
    font-style: normal;
    letter-spacing: 0.2px;
}

.about_us{
    background-color: black;
    height: 850px;
    color: #fff;

}

.about_us h1{
    text-align: center;
}

.about_us_block{
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 50px;
}

.about_us_head{
    color: white;
    font-size: 55px;
    font-weight: 470px;
    line-height: 78px;
    letter-spacing: 0.17px;
    word-wrap: break-word
}

/* .about_us_info{
    display: flex;
    justify-content: center;
} */

.about_us_txt{ 
    display: flex;
    height: 150px;
    padding-top: 40px;
    flex-direction: row;
    justify-content: center;
    justify-items: space-between; 
    gap: 20px; 
    margin-bottom: 30px;
    

}

.about_us_p1{
    width: 486px;
    height: 100px;
}

.about_us_p2{
    width: 486px;
    height: 200px;

} 

.about_us_img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000%;
    border-radius: 12px;
    padding-top: 0.5px;
}


.olympiads_block{
    padding: 60px 72px; 

}
.olympiads_header{
    display: flex;
    flex-direction: column;
}
.olympiads_title{
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0.25px;
    word-wrap: break-word;
    margin-bottom: 50px;
    margin-top: 70px;
    height: 30px;

}

/* .olympiads_choice{
    position: relative;
    width: 505px;
    height: 68px;
    background-color: #271D13;
    border-radius: 24px;
    margin-top: 60px;
    margin-left: 425px;
    display: flex;
    justify-content: space-between;
    border:#A47442 solid;
} */
.olympiads_choice{
    position: relative;
    width: 505px; /* Fixed width */
    height: 68px; /* Fixed height */
    background-color: #271D13;
    border-radius: 24px;
    margin: 0 auto; /* Top and bottom margins are 60px, left and right margins are auto */
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    border:#A47442 solid;
    padding-top: 5px;
   
}





/* .olympiads_choice_btn1{
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 40px;
    font-size: 20px;


}
.olympiads_choice_btn1:hover a{
    transition: ease-in-out 0.2s;
    background-color:#A47442 ;    
    border-radius: 20px;
    padding: 15px 20px;
    margin-left: -17px;
    color:#FFFFFF;
} */

.olympiads_choice_btn1,
.olympiads_choice_btn2 {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.olympiads_choice_btn1:hover,
.olympiads_choice_btn2:hover {
    transform: scale(1.1);
}

.olympiads_choice_btn1{
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 40px;
    font-size: 20px;
}

.olympiads_choice_btn1:hover a{
    background-color:#A47442 ;    
    border-radius: 20px;
    padding: 15px 20px;
    margin-left: -17px;
    color:#FFFFFF;
}

.olympiads_choice_btn2 {
    padding-right: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;
}

.olympiads_choice_btn2:hover a{
    background-color:#A47442 ;
    border-radius: 20px;
    padding: 15px 20px;
    margin-right: -18px;
    color: #FFFFFF;
}


.olympiads_choice_btn1.active a{
    background-color:#A47442 ;    
    border-radius: 20px;
    padding: 15px 20px;
    margin-left: -17px;
    color:#FFFFFF;
}


/* .olympiads_choice_btn2 {
    padding-right: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;

}

.olympiads_choice_btn2:hover a{
    transition: ease-in-out 0.2s;
    background-color:#A47442 ;
    border-radius: 20px;
    padding: 15px 20px;
    margin-right: -18px;
    color: #FFFFFF;
} */
@keyframes scroll {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .scroll {
    animation: scroll 2s ease-out;
  }
  .olympiads_lists{
    transition: 0.5s;
    opacity: 1;
  }

.olympiad_lists_block{
    margin-bottom: 40px;
    padding-bottom: 60px;
}

.olympiads_lists_russian {
    transition: 0.5s;
    opacity: 1;
}
.olympiads_choice_btn1 a, .olympiads_choice_btn2 a {
    transition: 0.2s;
    background-color: initial;
    border-radius: initial;
    padding: initial;
    color: #FFFFFF;
}

.olympiads_choice_btn2.active a {
    background-color:#A47442 ;
    border-radius: 20px;
    padding: 15px 20px;
    margin-right: -18px;
    color: #FFFFFF;
}
.olympiads_lists{
    display: flex;
    justify-content: space-around;
}

.olympiads_card{
    display: flex;
    flex-direction: column;
    width: 170;
    height: 140;
    background-color: #1C1814;
    border-radius: 12px;
    border: #A47442 solid;
    
    
}
.olympiads_card_header{
    padding: 13px;
    text-align: left;
    border-bottom: #A47442 solid;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 350px;
}
.olympiads_card_header h1{
    font-size: 30px;
    font-weight: 200;
}

.olympiads_card_subject p{
    text-align: center;
    padding: 12px;
    font-style: italic;
    color: #A47442;
}

.olympiads_card_subject ul{
    padding: 4px 40px;
    
}
.olympiads_card_subject li {
    margin-bottom: 10px;
}
.olympiads_card_btn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.olympiads_card_btn a{
    background: #A47442; 
    color: #FFFFFF;
    padding: 16px 50px  ; 
    border-radius: 15px;  
}

.olympiads_lists_russian{
    display: none;
    justify-content: space-around;
}
.olympiads_lists_russian > .olympiads_card{
    max-width: 360px;
}

.faq_section{
    background-color: #000;
    /* margin-top: 200px; */
}
.faq{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0.25px;
    text-align: left;
    margin-bottom: 20px;
    padding-right: 770px;
}
 
  
  

.accordion {
    border-radius: 12px;
    height: 78px;
    margin-bottom: 40px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
}

@keyframes panelPop {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 88px;
        opacity: 1;
    }
}

@keyframes panelClose {
    from {
        height: 88px;
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
    }
}

.panel {
    height: 88px;
    font-size: 16px;
    padding: 24px;
    margin-top: 10px;
    margin-bottom: 40px;
    display: none;
    background-color: #271D13;
    overflow: hidden;
    border-radius: 12px;
    width: 900px;
    animation: panelPop 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}

.active2{
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}
.accordion:after {
    content: '\002B';
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active2:after {
    content: "\2212";
    color:#000; 
    transition: 0.2s;
}

.footer{
    background-color: #111111;
}
.footer_block {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 72px 120px;
}
.footer_block_contact {
    max-width: 270px;
    border-right-color: #A47442;
}

.footer_block_contact h1{
    font-size: 40px;
    margin-bottom: 20px ;
}

.footer_block_contact p{
    font-size: 16px;    
}
.footer_block_line{
    width: 2px; 
    height: 170px; 
    
    transform-origin: 0 0; 
    border: 2px #A47442 solid;
    margin-left: 35px;
}

.faq-block__item-descr .text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }

.faq__inner {
    max-width: 815px;
    width: 100%;
    margin:0 auto
}

.faq__title-text {
    text-align:center
}

.faq-block {
    margin:0
}

.faq-block__item {
    padding: 25px 0;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition:background-color .2s ease-in-out
}


.faq-block__item-descr {
    margin: 17px 0 3px;
    padding:0 50px
}

.faq-block__item-descr .text:not(:last-child) {
    margin:0 0 20px
}

.faq-block__item-descr.is-hidden {
    display:none
}
.accordion {
    width: 100%;
}
.accordion-item {
    --bs-accordion-bg: transparent;
    --bs-accordion-color: white;
    --bs-accordion-border-width: 0;
    --bs-accordion-border-color: transparent;
    border-bottom: 1px solid #A47442;
}
.accordion-header {
    padding: 25px 0;
}
.accordion-body {
    --bs-accordion-body-padding-y: 0;
    --bs-accordion-body-padding-x: 0;
    padding-bottom: 50px;
}
.accordion-button {
    --bs-accordion-active-bg: transparent;
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-btn-padding-y: 0;
    --bs-accordion-btn-padding-x: 0;
}
.accordion-item:last-of-type {
    --bs-accordion-border-radius: 0;
}

